{% extends "base.html" %}
{% block title %}
Movies
{% endblock %}
{% block content %}
<div class="movie-containers">
    <h1>Movies</h1>
    <ul class="movie-list">
        {% for movie in movies %}
        <li class="movie-entry">
            <a href="{{movie.poster}}" target="blank">
                <img src="{{movie.poster}}" alt="{{movie.title}}">
                </a>
            <form action="{{ url_for('update_movie', movie_id=movie.id) }}" method="POST">
                <input type="text" name="update_title" value="{{ movie.title }}">
            </form>
            <p><strong>Year:</strong>{{movie.year}}</p>
            <p><strong>Director:</strong>{{movie.director}}</p>
            <form action="{{ url_for('delete_movie', movie_id=movie.id) }}" method="POST">
            <button type="submit" name="delete_movie">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <div class="add-movie-container">
        <form action="{{ url_for('add_movie', user_id=user_id) }}" method="POST">
            <h2>Add New Movie</h2>
            <input type="text" name="new_title" placeholder="Movie title">
            <button type="submit">Add Movie</button>
        </form>
    </div>
</div>
{% endblock %}